.App {
  text-align: center;
}

ul {
  list-style: none;
}

h1 {
  padding: 20px;
  background-color: #edede6;
  color: #003f63;
}

.btn {
  border-color: #003f63;
  background-color: #003f63;
  color: #ffffff;
  padding: 2px 10px;
  margin-bottom: 4px;
}
a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #003f63;
}
